<?xml version="1.0" encoding="UTF-8"?>
<events xmlns="http://canvas.instructure.com/xsd/cccv1p0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://canvas.instructure.com/xsd/cccv1p0 https://canvas.instructure.com/xsd/cccv1p0.xsd">
  <event identifier="g1ed4275676fcef25001b4ea24abbfd78">
    <title>Föreläsning</title>
    <description></description>
  </event>
  <event identifier="g13531a2e749c6a87984da8a71ee4cb0e">
    <title>Föreläsning</title>
    <description></description>
  </event>
  <event identifier="g99319b257cdeddbae3a8928d73c89ed7">
    <title>Handledning via Zoom</title>
    <description>&lt;p&gt;Handledning via Zoom&lt;/p&gt;
&lt;p&gt;Deltagande handledare:&lt;/p&gt;
&lt;p&gt;Sofie Liszka&lt;/p&gt;
&lt;p&gt;Simon Ullerstam&lt;/p&gt;</description>
  </event>
  <event identifier="g44c698a7d4a39f97ec6a719203b4ffd6">
    <title>Workshop 1</title>
    <description>&lt;p&gt;&lt;span&gt;Enkla övningar i C (intro + handledning) h-filer, flera filer&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span&gt;Ny zoom länk för detta möte: https://umu.zoom.us/j/8039088521&lt;/span&gt;&lt;/p&gt;</description>
  </event>
  <event identifier="ge0f8239e782539d3f8376c3e5d3e6b84">
    <title>Omtentamen</title>
    <description></description>
  </event>
  <event identifier="g7adab6977ad448c1552c48b2eab8600f">
    <title>Föreläsning</title>
    <description></description>
  </event>
  <event identifier="gcabdd598569f0e73b0c9d64391d21e64">
    <title>Föreläsning</title>
    <description>&lt;p&gt;&lt;span&gt;Lösenord: 123456&lt;/span&gt;&lt;/p&gt;</description>
  </event>
  <event identifier="g41fd4aa23b3024af33ef41daa3169da5">
    <title>Handledning via Zoom</title>
    <description>&lt;p&gt;Handledning via Zoom&lt;/p&gt;
&lt;p&gt;Deltagande handledare:&lt;/p&gt;
&lt;p&gt;Jonas Ernerstedt&lt;/p&gt;
&lt;p&gt;Simon Ullerstam&lt;/p&gt;</description>
  </event>
  <event identifier="g1832f6617dd80da05b70d5a4e964e315">
    <title>Handledning via Zoom</title>
    <description>&lt;p&gt;Handledning via Zoom&lt;/p&gt;
&lt;p&gt;Deltagande handledare:&lt;/p&gt;
&lt;p&gt;Simon Ullerstam&lt;/p&gt;</description>
  </event>
  <event identifier="gc0f7bb798e450f6309ec9f0b3dbd741a">
    <title>Workshop 3</title>
    <description>&lt;p&gt;&lt;span&gt;Debugging&lt;/span&gt;&lt;/p&gt;</description>
  </event>
  <event identifier="gd3bc926f9ab6d59be1f152ae0191c7d1">
    <title>Föreläsning</title>
    <description></description>
  </event>
  <event identifier="g9b7dc926df3a3d49c1dc449b92a9bf67">
    <title>Handledning via Zoom</title>
    <description>&lt;p&gt;Handledning via Zoom&lt;/p&gt;
&lt;p&gt;Deltagande handledare:&lt;/p&gt;
&lt;p&gt;Max Malmer&lt;/p&gt;
&lt;p&gt;Jonas Ernerstedt&lt;/p&gt;
&lt;p&gt;Simon Ullerstam (13.15 - 15.00)&lt;/p&gt;
&lt;p&gt;Sofie Liszka&lt;/p&gt;</description>
  </event>
  <event identifier="g3334ce24bb7a27dca345e3426d1ab924">
    <title>Handledning via Zoom</title>
    <description>&lt;p&gt;Handledning via Zoom&lt;/p&gt;
&lt;p&gt;Deltagande handledare:&lt;/p&gt;
&lt;p&gt;Max Malmer&lt;/p&gt;
&lt;p&gt;Jonas Ernerstedt&lt;/p&gt;</description>
  </event>
  <event identifier="g0620e0524bfc6c55da8f8fbf632864ce">
    <title>Handledning via Zoom i grupp</title>
    <description></description>
  </event>
  <event identifier="g20f960f7f2eca4d1738eecc6bc6fb6af">
    <title>Gruppövning</title>
    <description>&lt;p&gt;Grupp#1 Zoomlänk: &lt;a href="https://umu.zoom.us/j/64529085133" target="_blank"&gt;https://umu.zoom.us/j/64529085133&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Grupp#2 Zoomlänk: &lt;a href="https://umu.zoom.us/j/64529085133" target="_blank"&gt;https://umu.zoom.us/j/64529085133&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Grupp#3 Zoomlänk: &lt;a href="https://umu.zoom.us/j/69263751294?pwd=Qm5iTlkxZERkdXhUdWxtd0VNUHdIdz09" target="_blank"&gt;https://umu.zoom.us/j/69263751294?pwd=Qm5iTlkxZERkdXhUdWxtd0VNUHdIdz09&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Grupp#4 Zoomlänk: &lt;a href="https://umu.zoom.us/j/8613012574?pwd=QjJQSklGYnQ0MkdLbWZGcGo1cDNXdz09" target="_blank"&gt;https://umu.zoom.us/j/8613012574?pwd=QjJQSklGYnQ0MkdLbWZGcGo1cDNXdz09&lt;/a&gt;&lt;/p&gt;</description>
  </event>
  <event identifier="ga0e3ae47dbb5d56117fc1a407eff7d0b">
    <title>Handledning via Zoom</title>
    <description>&lt;p&gt;Handledning via Zoom&lt;/p&gt;
&lt;p&gt;Deltagande handledare:&lt;/p&gt;
&lt;p&gt;Simon Ullerstam&lt;/p&gt;
&lt;p&gt;Jonas Ernerstedt&lt;/p&gt;</description>
  </event>
  <event identifier="gcc037ad1e8c94fcb2fa6c5305000294f">
    <title>Workshop 2</title>
    <description>&lt;p&gt;&lt;span&gt;Dynamiskt minne, Valgrind&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</description>
  </event>
  <event identifier="g87edfc090c8dd34ce83f11b95db29ea2">
    <title>Föreläsning</title>
    <description></description>
  </event>
  <event identifier="g7de0b6a9f50999025aa6cdbe4a933767">
    <title>Handledning via Zoom</title>
    <description>&lt;p&gt;Handledare:&lt;br&gt;Sofie Liszka&lt;br&gt;Max Malmer&lt;/p&gt;</description>
  </event>
  <event identifier="g501cee6654b744c11c085bc38e2de38c">
    <title>Handledning via Zoom</title>
    <description>&lt;p&gt;Deltagande handledare:&lt;/p&gt;
&lt;p&gt;Simon Ullerstam&lt;/p&gt;
&lt;p&gt;&lt;span&gt;Jonas Ernerstedt&lt;/span&gt;&lt;/p&gt;</description>
  </event>
  <event identifier="g4609286b29afa64006992d78d766cdf2">
    <title>Föreläsning</title>
    <description></description>
  </event>
  <event identifier="g582809c14ce2c07d03b1fc2ed2340e20">
    <title>Föreläsning</title>
    <description>&lt;p&gt;&lt;span&gt;Lösenord: 123456&lt;/span&gt;&lt;/p&gt;</description>
  </event>
  <event identifier="ge9578491cfa712e8d51285a72a8ddbac">
    <title>Handledning via Zoom</title>
    <description>&lt;p&gt;Handledning via Zoom&lt;/p&gt;
&lt;p&gt;Deltagande handledare:&lt;/p&gt;
&lt;p&gt;Max Malmer&lt;/p&gt;
&lt;p&gt;Jonas Ernerstedt&lt;/p&gt;</description>
  </event>
  <event identifier="g9ef4560a55ce990f36283b4b6406d604">
    <title>Föreläsning</title>
    <description>&lt;p&gt;&lt;span&gt;Lösenord: 123456&lt;/span&gt;&lt;/p&gt;</description>
  </event>
  <event identifier="gdec7cd95e0a4ae2507f54e9244c17725">
    <title>Handledning</title>
    <description>&lt;p&gt;Länk till handledningen:&lt;/p&gt;
&lt;p&gt;&lt;a class="linkified" href="https://webapps.cs.umu.se/tutorqueue/session.php?session=90" target="_blank"&gt;https://webapps.cs.umu.se/tutorqueue/session.php?session=90&lt;/a&gt;&lt;/p&gt;</description>
  </event>
  <event identifier="g8dffeb1e4ad10425b678e27deeb85339">
    <title>Handledning i Zoom</title>
    <description>&lt;p&gt;Labba tillsammans i Zoom. Handledare finns på plats och svarar på frågor/hjälper er.&lt;br&gt;&lt;br&gt;Handledare:&lt;br&gt;Max Malmer&lt;br&gt;&lt;span&gt;Jonas Ernerstedt&lt;/span&gt;&lt;/p&gt;</description>
  </event>
  <event identifier="g8c768209902efadb61939ada6fbefbb1">
    <title>Handledning via Zoom</title>
    <description>&lt;p&gt;Handledare:&lt;br&gt;&lt;br&gt;Max Malmer&lt;br&gt;Simon Ullerstam (13.15 -17.00)&lt;/p&gt;</description>
  </event>
  <event identifier="ge638a0d4828ea5420e741297b1a0e76d">
    <title>Handledning via Zoom</title>
    <description>&lt;p&gt;Handledning via Zoom&lt;/p&gt;
&lt;p&gt;Deltagande handledare:&lt;/p&gt;
&lt;p&gt;Max Malmer&lt;/p&gt;
&lt;p&gt;Simon Ullerstam&lt;/p&gt;</description>
  </event>
  <event identifier="g51459ab5630b4d229353167408e63dab">
    <title>Gruppövning</title>
    <description>&lt;p&gt;Grupp#1 zoomlänk: &lt;a href="https://umu.zoom.us/j/64529085133" target="_blank"&gt;https://umu.zoom.us/j/64529085133&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Grupp#2 Zoomlänk: &lt;a class="instructure_file_link inline_disabled" href="https://umu.zoom.us/j/68198078753?pwd=alFOR0o1QVV1K29qV3JTQTI4YzFMUT09" target="_blank"&gt;https://umu.zoom.us/j/68198078753?pwd=alFOR0o1QVV1K29qV3JTQTI4YzFMUT09&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Grupp#3 Zoomlänk: &lt;a href="https://umu.zoom.us/j/69263751294?pwd=Qm5iTlkxZERkdXhUdWxtd0VNUHdIdz09" target="_blank"&gt;https://umu.zoom.us/j/69263751294?pwd=Qm5iTlkxZERkdXhUdWxtd0VNUHdIdz09&amp;nbsp;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Grupp#4 Zoomlänk: &lt;a href="https://umu.zoom.us/j/8613012574?pwd=QjJQSklGYnQ0MkdLbWZGcGo1cDNXdz09" target="_blank"&gt;https://umu.zoom.us/j/8613012574?pwd=QjJQSklGYnQ0MkdLbWZGcGo1cDNXdz09&lt;/a&gt;&lt;/p&gt;</description>
  </event>
  <event identifier="g852a6816f04b5c1bfb2650aabc0be898">
    <title>Handledning via Zoom</title>
    <description>&lt;p&gt;Handledning via Zoom&lt;/p&gt;
&lt;p&gt;Deltagande handledare:&lt;br&gt;Max Malmer&lt;/p&gt;
&lt;p&gt;Jonas Ernerstedt&lt;/p&gt;</description>
  </event>
  <event identifier="g30960ddfe1592dbc0efb5a657e755c7c">
    <title>Handledning via Zoom</title>
    <description>&lt;p&gt;Handledning via Zoom&lt;/p&gt;
&lt;p&gt;Deltagande handledare:&lt;/p&gt;
&lt;p&gt;Jonas Ernerstedt&lt;/p&gt;
&lt;p&gt;Sofie Liszka&lt;/p&gt;</description>
  </event>
  <event identifier="g4b782ddf54496253c861976bde170f79">
    <title>Workshop 4</title>
    <description>&lt;p&gt;&lt;span&gt;Filhantering&lt;/span&gt;&lt;/p&gt;</description>
  </event>
  <event identifier="g909817f82409a813df8a0da02b9c980b">
    <title>Föreläsning</title>
    <description>&lt;p&gt;&lt;span&gt;Lösenord: 123456&lt;/span&gt;&lt;/p&gt;</description>
  </event>
  <event identifier="g26e4e4765b5c9ff332501dabbc9ec480">
    <title>Föreläsning</title>
    <description></description>
  </event>
  <event identifier="ged7cf4fbd4abc3c8a6b7e3930200e08c">
    <title>Tenta</title>
    <description></description>
  </event>
  <event identifier="gdd289104011f78f48dc2d94bc4c1fcdc">
    <title>Handledning via Zoom</title>
    <description>&lt;p&gt;Handledning via Zoom&lt;/p&gt;
&lt;p&gt;Deltagande handledare:&lt;/p&gt;
&lt;p&gt;Max Malmer&lt;/p&gt;
&lt;p&gt;Simon Ullerstam (13.15-15.00)&lt;/p&gt;</description>
  </event>
  <event identifier="g92590b8a034d5c069f3f1b7a178efb07">
    <title>Gruppövning</title>
    <description>&lt;p&gt;Grupp#1 Zoomlänk: &lt;a class="instructure_file_link inline_disabled" href="https://umu.zoom.us/j/68198078753?pwd=alFOR0o1QVV1K29qV3JTQTI4YzFMUT09" target="_blank"&gt;https://umu.zoom.us/j/68198078753?pwd=alFOR0o1QVV1K29qV3JTQTI4YzFMUT09&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Grupp#2 Zoomlänk:&amp;nbsp;&lt;a class="instructure_file_link inline_disabled" href="https://umu.zoom.us/j/68198078753?pwd=alFOR0o1QVV1K29qV3JTQTI4YzFMUT09" target="_blank"&gt;https://umu.zoom.us/j/68198078753?pwd=alFOR0o1QVV1K29qV3JTQTI4YzFMUT09&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Grupp#3 Zoomlänk: &lt;a href="https://umu.zoom.us/j/69263751294?pwd=Qm5iTlkxZERkdXhUdWxtd0VNUHdIdz09" target="_blank"&gt;https://umu.zoom.us/j/69263751294?pwd=Qm5iTlkxZERkdXhUdWxtd0VNUHdIdz09&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Grupp#4 Zoomlänk: &lt;a href="https://umu.zoom.us/j/8613012574?pwd=QjJQSklGYnQ0MkdLbWZGcGo1cDNXdz09" target="_blank"&gt;https://umu.zoom.us/j/8613012574?pwd=QjJQSklGYnQ0MkdLbWZGcGo1cDNXdz09&lt;/a&gt;&lt;/p&gt;</description>
  </event>
  <event identifier="gd24bc416b07a8a6988d2b2f0db37bff9">
    <title>Föreläsning</title>
    <description>&lt;p&gt;&lt;span&gt;Lösenord: 123456&lt;/span&gt;&lt;/p&gt;</description>
  </event>
  <event identifier="g28a1715034c5f02fed9553ac52dcea0c">
    <title>Föreläsning</title>
    <description>&lt;p&gt;&lt;span&gt;Lösenord: 123456&lt;/span&gt;&lt;/p&gt;</description>
  </event>
  <event identifier="ged788b555ab0bf52dd61d582af630f2d">
    <title>Handledning via Zoom</title>
    <description>&lt;p&gt;Handledning via Zoom&lt;/p&gt;
&lt;p&gt;Deltagande handledare:&lt;/p&gt;
&lt;p&gt;Max Malmer&lt;/p&gt;
&lt;p&gt;Sofie Liszka&lt;/p&gt;</description>
  </event>
  <event identifier="g1be2ce7a56d8aba46d5e39e0a25ae007">
    <title>Gruppövning</title>
    <description>&lt;p&gt;Grupp#1 Zoomlänk: &lt;a href="https://umu.zoom.us/j/64529085133" target="_blank"&gt;https://umu.zoom.us/j/64529085133&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Grupp#2 Zoomlänk: &lt;a href="https://umu.zoom.us/j/64529085133" target="_blank"&gt;https://umu.zoom.us/j/64529085133&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Grupp#3 Zoomlänk: &lt;a href="https://umu.zoom.us/j/69263751294?pwd=Qm5iTlkxZERkdXhUdWxtd0VNUHdIdz09" target="_blank"&gt;https://umu.zoom.us/j/69263751294?pwd=Qm5iTlkxZERkdXhUdWxtd0VNUHdIdz09&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Grupp#4 Zoomlänk: &lt;a href="https://umu.zoom.us/j/8613012574?pwd=QjJQSklGYnQ0MkdLbWZGcGo1cDNXdz09" target="_blank"&gt;https://umu.zoom.us/j/8613012574?pwd=QjJQSklGYnQ0MkdLbWZGcGo1cDNXdz09&lt;/a&gt;&lt;/p&gt;</description>
  </event>
  <event identifier="gb3f318d418e13945af720994c09938a6">
    <title>Handledning via Zoom</title>
    <description>&lt;p&gt;Handledning via Zoom&lt;/p&gt;
&lt;p&gt;Deltagande handledare:&lt;/p&gt;
&lt;p&gt;Max Malmer&lt;/p&gt;
&lt;p&gt;Jonas Ernerstedt&lt;/p&gt;
&lt;p&gt;Sofie Liszka&lt;/p&gt;
&lt;p&gt;Simon Ullerstam&lt;/p&gt;</description>
  </event>
  <event identifier="g4a8e5acb34281419429a1b2b620b6e7a">
    <title>Gruppövning</title>
    <description>&lt;p&gt;Grupp#1 Zoomlänk: &lt;a href="https://umu.zoom.us/j/64529085133" target="_blank"&gt;https://&lt;/a&gt;&lt;a class="instructure_file_link inline_disabled" href="https://umu.zoom.us/j/68198078753?pwd=alFOR0o1QVV1K29qV3JTQTI4YzFMUT09" target="_blank"&gt;zoom.us/j/68198078753?pwd=alFOR0o1QVV1K29qV3JTQTI4YzFMUT09&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Grupp#2 Zoomlänk: &lt;a class="instructure_file_link inline_disabled" href="https://umu.zoom.us/j/68198078753?pwd=alFOR0o1QVV1K29qV3JTQTI4YzFMUT09" target="_blank"&gt;https://umu.zoom.us/j/68198078753?pwd=alFOR0o1QVV1K29qV3JTQTI4YzFMUT09&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Grupp#3 Zoomlänk: &lt;a href="https://umu.zoom.us/j/69263751294?pwd=Qm5iTlkxZERkdXhUdWxtd0VNUHdIdz09" target="_blank"&gt;https://umu.zoom.us/j/69263751294?pwd=Qm5iTlkxZERkdXhUdWxtd0VNUHdIdz09&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Grupp#4 Zoomlänk: &lt;a href="https://umu.zoom.us/j/8613012574?pwd=QjJQSklGYnQ0MkdLbWZGcGo1cDNXdz09" target="_blank"&gt;https://umu.zoom.us/j/8613012574?pwd=QjJQSklGYnQ0MkdLbWZGcGo1cDNXdz09&lt;/a&gt;&lt;/p&gt;</description>
  </event>
  <event identifier="gfa5ef21080de30aa0ea123952247b85a">
    <title>Föreläsning</title>
    <description>&lt;p&gt;&lt;span&gt;Lösenord: 123456&lt;/span&gt;&lt;/p&gt;</description>
  </event>
  <event identifier="g33cd666e8bd26694ad49ac3f33132b66">
    <title>Handledning via Zoom</title>
    <description>&lt;p&gt;Handledning via Zoom&lt;/p&gt;
&lt;p&gt;Deltagande handledare:&lt;/p&gt;
&lt;p&gt;Sofie Liszka&lt;/p&gt;
&lt;p&gt;Simon Ullerstam&lt;/p&gt;</description>
  </event>
</events>
